---
layout: default
title: "Experience"
---

<h1>Experience</h1>

{% assign ongoing_posts = site.experiences | where:"type", "ongoing" | sort: 'start_date' | reverse %}
{% assign project_posts = site.experiences | where:"type", "project" | sort: 'end_date' | reverse %}
{% assign work_posts = site.experiences | where:"type", "work" | sort: 'start_date' | reverse %}
{% assign experience_posts = site.experiences | where:"type", "experience" | sort: 'end_date' | reverse %}


<h2>Ongoing Projects</h2>
{% for post in ongoing_posts %}
  <div class="post">
    <div class="post-header">
        <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">
            {{ post.title }}
        </a>
        </h3>

        <p class="post-date">{{ post.start_date | date: "%b %Y" }} - {{ post.end_date | date: "%b %Y"}}</p>
    </div>

    {{ post.content }}
  </div>
{% endfor %}

<h2>Completed Projects</h2>
{% for post in project_posts %}
  <div class="post">
    <div class="post-header">
        <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">
            {{ post.title }}
        </a>
        </h3>

        <p class="post-date">{{ post.start_date | date: "%b %Y" }} - {{ post.end_date | date: "%b %Y"}}</p>
    </div>

    {{ post.content }}
  </div>
{% endfor %}

<h2>Work Experience</h2>
{% for post in work_posts %}
  <div class="post">
    <div class="post-header">
        <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">
            {{ post.title }}
        </a>
        </h3>

        <p class="post-date">{{ post.start_date | date: "%b %Y" }} - {{ post.end_date | date: "%b %Y"}}</p>
    </div>

    {{ post.content }}
  </div>
{% endfor %}

<h2>Other Experience</h2>
{% for post in experience_posts %}
  <div class="post">
    <div class="post-header">
        <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">
            {{ post.title }}
        </a>
        </h3>

        <p class="post-date">{{ post.start_date | date: "%b %Y" }} - {{ post.end_date | date: "%b %Y"}}</p>
    </div>

    {{ post.content }}
  </div>
{% endfor %}
